img {
    width: 20%;
    height: auto;
}

div {
    display: block;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    width: 75%;
    height: 75%;
    z-index: 1;
}

.slider {
    position: relative;
    display: block;
    z-index: 0;
}

.routes {
    display: flex;
    justify-content: center;
    width: 75%;
    height: auto;
}


/*.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    cursor: pointer;
    background-color: green;
}*/
