.item{
    width: 200px;
    height: 400px;
    display: inline-block;
   

}

.item h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:start;
    border-radius: 2px;
    height: 20px;
    color: slategray;
    font-size: 12px;
}

.item p{
    color: rgba(105, 90, 205, 0.534);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: start;
    font-size: 10px;
}

/******************/
.showFrame{
    z-index: 0;
    width: 600px;
    height: 800px;
    animation-name: move;
}


@keyframes move{
    from{
        margin: 0px;
    }
    to{
        margin:2px;
    }
}