.single {
    border: 2px solid rgba(143, 143, 143, 0.3);
    width: 400px;
    height: 250px;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    left: 600px;
    box-shadow: 2px 3px 8px;
    display: inline-block;
    z-index: 10;
    display: block;
}

img {
    position: relative;
    bottom: 27px;
}

h3 {
    font-size: 23px;
    font-family: sans-serif;
    display: block;
    position: relative;
    margin-left: 15px;
    left: 200px;
}

h2 {
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    position: relative;
    margin-left: 15px;
    background-color: rgb(255, 123, 0);
    width: 100px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    left: 180px;
    bottom: 80px;
    color: white;
}