@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Open+Sans&family=Oswald:wght@200&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/* @font-face {
    font-family: header;
    src: url('https://fonts.googleapis.com/css2?family=Belanosima&family=Open+Sans&family=Oswald:wght@200&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
} */

* {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.menu {
    margin: auto;
    width: 50%;
    background-color: rgba(49, 77, 168, 0.301);
    display: grid;
    grid-template-rows: 10% 30%;
}

.header {
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 1px;
}

.header-title {
    font-size: 48px;
    color: rgba(24, 24, 48, 0.233);
    position: relative;
    bottom: 15%;
}

.content {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-gap: 10px;
    height: 30px;
    margin-top: 2vh;
    margin-left: 5%;
}

.todo-input {
    border: none;
    border-radius: 5px;
    height: 40px;
}

.todo-input[placeholder] {
    padding-left: 10%;
}

* :focus {
    outline: none;
}

.add-todo-button {
    background-color: rgba(42, 85, 228, 0.795);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.add-todo-button:hover {
    background-color: rgba(240, 241, 247, 0.795);
    color: rgb(42, 53, 202);
}

.add-todo-button:active {
    background-color: rgba(40, 47, 87, 0.795);
    color: rgb(49, 50, 59);
}
