@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap');
div{
  font-family: 'Farro', sans-serif;
  font-size: 22px;
  width: 620px;
  height: 150px;
  border: 1px solid grey;
  margin: 150px;
}
