<div [ngClass]="{ openForm: openFormStatuss }" class="form_container">
    <div id="close">
        <img [src]="closeImageSource" (click)="closeBlock()" id="close" />
        <form class="form" [formGroup]="form" (ngSubmit)="submit()">
            <label><h1>Add New Workstation parameters</h1></label>
            <div class="form_item" formGroupName="types">
                <label>Region</label>
                <select formControlName="region">
                    <option
                        *ngFor="let item of regions$ | async"
                        [value]="item"
                    >
                        {{ item }}
                    </option>
                </select>
                <div *ngIf="form.get('region')?.invalid" class="invalid">
                    <small>Select correct value</small>
                </div>

            </div>
            <div class="form_item" formGroupName="types">
                <label>Branch</label>
                <select formControlName="branch">
                    <option
                        *ngFor="let branch of branches$ | async"
                        [value]="branch.name"
                    >
                        {{ branch.name }}
                    </option>
                </select>
            </div>
            <div class="form_item">
                <label>Board</label>
                <input type="text" formControlName='board' />

            </div>
            <div class="form_item">
                <label>Ip Address</label>
                <input type="text" placeholder="ex 10.10.10.10" formControlName='ipAddress' />
            </div>
            <div class="form_item">
                <label>CPU</label>
                <input type="text" placeholder="ex. intel Core i5 2310" formControlName="cpu" />
            </div>
            <div class="form_item">
                <label>Ram</label>
                <input type="text" formControlName='ram' />
            </div>
            <div class="form_item" formGroupName="types">
                <label>HDD</label>
                <select formControlName="hdd">
                    <option *ngFor="let hard of hards" [value]="hard">
                        {{ hard }}
                    </option>
                </select>
            </div>
            <div class="form_item">
                <label>Capacity</label>
                <input type="text" formControlName="capacity" />
            </div>
            <div class="form_item" formGroupName="types">
                <label>Ram Type</label>
                <select formControlName="ramType">
                    <option *ngFor="let ram of ram$ | async" [value]="ram" >
                        {{ ram }}
                    </option>
                </select>

            </div>
            <div class="form_item">
                <label>Hostname</label>
                <input type="text" formControlName='hostname' />
                <div *ngIf="form.get('hostname')?.invalid && form.get('hostname')?.touched" class="invalid">
                    <small *ngIf="form.get('hostname')?.errors">Incorrect Value</small>
                </div>
            </div>
            <div class="form_item">
                <label>Barcode</label>
                <input type="text" formControlName='barcode' />
            </div>
            <div class="form_item" formGroupName="types">
                <label>Operation System</label>
                <select formControlName="os">
                    <option *ngFor="let system of os" [value]="system">
                        {{ system }}
                    </option>
                </select>
            </div>
            <button type="submit" id="add">Add</button>
        </form>
    </div>
</div>
<header class="header">
    <div class="titles">
            <h1 class="title">Workstations</h1>
             <h3>managament portal</h3>
    </div>
    <div class="btns">
        <button (click)="openStations()">Workstations</button>
        <button (click)="openTerminals()">About</button>
        <button id="action" (click)="openForm()">Add Host</button>
    </div>
</header>


