@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

.container{
  height:100px;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 60% 10%;
}

.searchForm{
  display: grid;
  grid-template-columns: 70% 70%;
}

.component{
  display: grid;
  grid-template-columns:48% 10%;
}
.search{
  width: 300px;
  height: 30px;
  margin-left: 20px;
  margin-top: 33px;
}

.btn{
  width: 220px;
  height: 40px;
  margin-left: 10px;
  margin-top: 30px;
  background-color: rgba(45, 131, 112, 0.8);
  font-family:'Sigmar One', cursive;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 12px;
}

.btn:hover{
  /* background-color: rgba(45, 131, 112, 0.8);*/
   text-decoration: underline;
   color: white;

 }

 .btn:active{
  padding: 7px;
  font-size: 16px;
  background-color: rgba(110, 110, 110, 0.644)
}

.singlepost{
  width: 800px;
  height: 300px;
  border: 3px solid rgba(128, 128, 128, 0.705);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 15% 30% 15% 20% 15%;
  grid-gap:3px;
  margin-left: 5%;
  margin-top: 2%;
  /*background-color:rgba(29, 139, 115, 0.8) ;*/
  background-color: white;
  cursor:pointer;
  color: rgb(22, 21, 21);
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 18px;
}

.singlepost:hover{
  box-shadow: 15px 10px 5px 5px rgba(128, 128, 128, 0.699);
 }

 .singlepost:active{
  box-shadow: 15px 10px 5px 5px rgba(85, 189, 166, 0.699);
  background-color: rgba(85, 189, 166, 0.1);
  width: 993px;
  height: 693px;
 }

 .email{
  background-color: rgba(37, 100, 86, 0.699);
  color: rgb(0, 0, 0);
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 38px;
  color: rgb(51, 50, 50);
  text-decoration: underline;
 }


.name{
  border:1px solid rgb(0, 0, 0);
  border-radius: 8px;
  color: grey;
  font-family: 'Stint Ultra Condensed', cursive;
  background-color:rgba(85, 189, 166, 0.3);
  text-align: center;

}

p{
  font-family: 'Stint Ultra Condensed', cursive;
  font-style: italic;
  color: rgb(83, 83, 83);
}

h2{
  font-family: 'Stint Ultra Condensed', cursive;
  font-style: italic;
  color: rgb(54, 53, 53);
  font-size: 26px;
}

.address{
  display: grid;
  grid-template-columns: 40% 30%;
  border: 2px solid rgba(128, 128, 128, 0.637);
  height: 100px;
  width: 800px;
  background-color: rgba(20, 117, 85, 0.808);
  color: rgb(42, 42, 42);
  font-size: 28px;

  text-decoration: underline;
}


a{
  font-family: 'Stint Ultra Condensed', cursive;
  color: rgb(0, 0, 0);
  background-color: rgba(30, 148, 118, 0.486);
  width: 180px;
  height: 60px;
}


.phone{
  font-family: 'Stint Ultra Condensed', cursive;
  display: grid;
  grid-template-rows: 30% 2%;
  grid-gap:10px;
  width: 600px;
  color: rgb(42, 42, 42);
  text-decoration: underline;
  font-size: 25px;
}

strong{
  font-family: 'Stint Ultra Condensed', cursive;
  color: white;

 /* border: 1px solid grey;*/
}


.remove{
  width: 10px;
  height: 10px;
  margin-left:750px;
  margin-top: 10px;
  border: none;
  color:rgb(14, 13, 13);
  background:none;
  font-size: 28px;
}
