<div class="container">

  <form class="searchForm" [formGroup]='form' (ngSubmit)='findUser()'>
    <div class="component">
      <input class="search" placeholder="search by name" formControlName='username'>
      <button class="btn" type="submit">Search by Name</button>
    </div>
  </form>
</div>
<div class="insertButtons">
  <button class="btn" (click)="goToInsert()">Insert User</button>
  <button class="btn" (click)='backHome()'>Logout</button>
</div>
<div class="users" *ngFor='let user of customers'>

  <div class="singlepost">
    <button class="remove" (click)='removeUser(user.id)'>X</button>
    <div class="name" [routerLink]="['/user',user.id]">
      <h2>Name<>{{user.name}}</h2>
      <h2>Username<>{{user.username}}</h2>
    </div>
    <p class="email"><strong>Email-</strong>{{user.email}}</p>
    <div class="address">
      <h3>street<>{{user.address.street}}</h3>
      <h4>city<>{{user.address.city}}</h4>
    </div>
    <h3 class="phone">Phone Number:{{user.phone}}</h3>
  </div>
</div>

