<div class="container">
  <form class="searchForm" [formGroup]='form' (ngSubmit)='findUser()'>
    <div class="component">
      <input class="search" placeholder="search by name" formControlName='username'>
      <button class="btn">Search by Name</button>
    </div>
  </form>
</div>
<div class="insertButtons">
  <button class="btn" [routerLink]="['/insert']">Insert User</button>
  <button class="btn" (click)='backHome()'>Logout</button>
</div>
<div class="users" *ngFor='let user of customers'>
  <div class="singlepost" [routerLink]="['/user',user.id]">
    <div class="name">
      <h2>Name--{{user.name}}</h2>
      <h2>Username--{{user.username}}</h2>
    </div>
    <p class="email">email.....{{user.email}}</p>
    <div class="address">
      <h3>street.{{user.address.street}}</h3>
      <h4>city.{{user.address.city}}</h4>
    </div>
    <h3>Phone Number:{{user.phone}}</h3>
  </div>
</div>

