.container {
    margin-left: 20%;
    margin-top: 12%;
    border: 1px;
    width: 65%;
    height: 900px;
    color: rgb(214, 214, 214);
    background-color: rgba(160, 152, 137, 0.596);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    box-shadow: 10px 20px 5px 50px rgba(253, 0, 0, 0.199);
}

.input {
    width: 320px;
    height: 60px;
    display: grid;
    grid-template-columns: 20em 20em;
    margin-top: 2%;
}

.input>label {
    font-size: 28px;
    margin-left: 10%;
    margin-top: 10%;
}

.input>input[type=text] {
    margin-top: 10%;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(219, 219, 219, 0.308);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid grey;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 3px;
}

.input>input[type=date] {
    margin-top: 10%;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid grey;
    outline: none;
    background-color: rgba(207, 207, 207, 0.178);
    color: white;
}

.textarea {
    border: none;
    width: 1000px;
    height: 100px;
    display: grid;
    grid-template-columns: 20em 20em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

textarea {
    width: 800px;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.493);
    font-size: 18px;
    outline: none;
    border: none;
    color: white;
}

.textarea>label {
    font-size: 28px;
    margin-left: 10%;
    margin-top: 10%;
}

button {
    width: 20%;
    height: 60px;
    margin-left: 2%;
    border: none;
    background-color: rgba(151, 96, 52, 0.377);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: white;
    cursor: pointer;
    font-size: 28px;
    border-radius: 15px;
}

button:active {
    background-color: aliceblue;
    color: black;
}

button::after {
    border: 1px solid wheat;
}