@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.table{
    background: linear-gradient(45deg, #015506 25%, #007147 35%, #002f14 55%);
    color: white;
}

a {
    text-decoration: none;
    color: #001f03;
    font-size: 18px;
    font-weight: bold;
}


/*grid-template-columns: 2% 20% 13% 23% 12% 25% 15% 16% 19% 21% 9% 30% 20%;1
   font-family: 'Open Sans', sans-serif;
*/

.title {
    display: grid;
    height: 40px;
    text-align: left;
    margin-top: 15px;
    margin-left: 1%;
    grid-template-columns: 2% 5% 6% 6% 6% 7% 7% 5% 5% 5% 5% 5% 10%;
}

.title li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: #e0fff3;
}

.elem {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin-left: 1%;
    box-sizing: content-box;

}

.item {
    width: auto;
    height: 60px;
    display: grid;
    /*grid-template-columns: auto 5% 5%;*/
    grid-template-columns: 2% 6% 5% 6% 6% 6% 7.5% 5.5% 6% 4.5% 5% 3% 14% 5% 5%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;


}
.item > div {
    /*width: auto;*/
    display: grid;
    grid-template-columns: 2% 6% 5% 6% 6% 6% 7.5% 5.5% 6% 4.5% 5% 3% 14%;


}

.item:hover {
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.178);
    cursor: pointer;
    font-size: 18px;
}

.item a:hover {
    border-bottom: 1px solid rgb(8, 153, 95);
    font-size: 15px;
    cursor: pointer;
    color: rgb(17, 130, 59);
}

.item  h3{
    color: #025a09;
}

.item > p{
    color: #006a2e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.id{
    display: grid;
    grid-template-columns: 10% 10%;
}
